# ===== Git =====
.git
.gitattributes

# ===== Node build outputs =====
webui/dist
webui/.vite
webui/node_modules

# ===== Go build outputs =====
bin/
*.exe
*.out

# ===== Logs =====
*.log

# ===== Databases =====
*.db
*.sqlite*
dev.sqlite

# ===== OS junk =====
.DS_Store
Thumbs.db

# ===== Local uploads =====
uploads/
data/
